/**
  * 2015 DMConcept
  *
  * Proaccount Front Office Feature
  *
  * @authors DMConcept.fr <support@dmconcept.fr>
  * @copyright DMConcept 2015
  * +
  * +Languages: EN, FR
  * +PS version: 1.7
  **/

#module_form .material-icons {
    font-size: 16px;
    vertical-align: middle;
    padding-bottom: 3px;
}
